<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ReciPress>
			<version>1.4.1.0</version>
			<fishpig>
				<id>recipress</id>
				<name>ReciPress</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/recipress/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ReciPress>
	</modules>
	<global>
		<helpers>
			<wp_addon_recipress>
				<class>Fishpig_Wordpress_Addon_ReciPress_Helper</class>
			</wp_addon_recipress>
		</helpers>
		<blocks>
			<wp_addon_recipress>
				<class>Fishpig_Wordpress_Addon_ReciPress_Block</class>
			</wp_addon_recipress>
		</blocks>
		<models>
			<wp_addon_recipress>
				<class>Fishpig_Wordpress_Addon_ReciPress_Model</class>
				<resourceModel>wp_addon_recipress_resource</resourceModel>
			</wp_addon_recipress>
			<wp_addon_recipress_resource>
				<class>Fishpig_Wordpress_Addon_ReciPress_Model_Resource</class>
				<entities>
					<recipe><table>postmeta</table></recipe>
				</entities>
			</wp_addon_recipress_resource>
		</models>
	</global>
	<frontend>
		<events>
			<wordpress_string_filter_after>
				<observers>
					<wp_addon_recipress>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_ReciPress_Helper_Shortcode_Recipe</class>
						<method>injectRecipeObserver</method>
					</wp_addon_recipress>
				</observers>
			</wordpress_string_filter_after>
		</events>
		<layout>
			<updates>
				<wp_addon_recipress>
					<file>wordpress/recipress.xml</file>
				</wp_addon_recipress>
			</updates>
		</layout>
	</frontend>
	<wordpress>
		<database>
			<after_connect>
				<tables>
					<recipe><table>postmeta</table></recipe>
				</tables>
			</after_connect>
		</database>
		<sidebar>
			<widgets>
				<recipress_recent><block>wp_addon_recipress/sidebar_widget_recent</block><template>wordpress-addons/recipress/widget/recent.phtml</template></recipress_recent>
				<recipress_terms><block>wp_addon_recipress/sidebar_widget_terms</block><template>wordpress-addons/recipress/widget/terms.phtml</template></recipress_terms>
			</widgets>
		</sidebar>
	</wordpress>
	<default>
		<wordpress>
			<extend>
				<recipress>1</recipress>
			</extend>
		</wordpress>
	</default>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_ReciPress>
					<Block_System_Config_Form_Field_License><ignore /></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_ReciPress>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_ReciPress>
					<Helper_License><ignore /></Helper_License>
				</Fishpig_Wordpress_Addon_ReciPress>
			</Fishpig_Inject_Wordpress_Helper_License>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/ReciPress/Helper/License.php</helper_license>
			<helper_data>app/code/community/Fishpig/Wordpress/Addon/ReciPress/Helper/Data.php</helper_data>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/ReciPress/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>